<p>twoway works!</p>
<div class="container">
    <div class="row">
        <div class="col">
            <h4>Event + Property Binding</h4>
            <div class="form-group">
                <div [class]="status? 'alert alert-primary' : 'alert alert-warning'" role="alert">
                    Email: {{email}}
                </div>
                <label for="exampleInputEmail1">Email address</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" (input)="onInput($event)">
                <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
              </div>
              <button class="btn btn-primary" (mouseover)="onhover()">Hover me</button>

        </div>
            <div class="col">
                <h4>Two way data Binding</h4>
                <div class="form-group">
                    <div [class]="status? 'alert alert-primary' : 'alert alert-warning'" role="alert">
                        Username: {{username}}
                    </div>
                    <label for="exampleInputEmail1">Email address</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="username" [(ngModel)]="username">
                    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                  </div>
            </div>
    </div>
</div>